@using MostIdea.MIMGroup.Authorization
@using MostIdea.MIMGroup.Web.Areas.App.Models.ProductCategories
@using MostIdea.MIMGroup.Web.Areas.App.Startup
@model ProductCategoriesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ProductCategories;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/ProductCategories/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ProductCategories")" description="@L("ProductCategoriesHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_ProductCategories_Create))
        {
        <button id="CreateNewProductCategoryButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProductCategory")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="ProductCategoriesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetProductCategoriesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ProductCategoryNameFilterId">(@L("ProductCategory")) @L("Name")</label>
                            <input type="text" class="form-control" name="productCategoryNameFilter" id="ProductCategoryNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BrandNameFilterId">(@L("Brand")) @L("Name")</label>
                            <input type="text" class="form-control" name="brandNameFilter" id="BrandNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ProductCategoriesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("Description")</th>
                                <th>@L("ProductCategoryName")</th>
                                <th>@L("BrandName")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>