@using MostIdea.MIMGroup.Authorization
@using MostIdea.MIMGroup.Web.Areas.App.Models.OrderItems
@using MostIdea.MIMGroup.Web.Areas.App.Startup
@model OrderItemsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.OrderItems;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/OrderItems/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("OrderItems")" description="@L("OrderItemsHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_OrderItems_Create))
        {
        <button id="CreateNewOrderItemButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewOrderItem")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="OrderItemsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetOrderItemsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPriceFilterId">@L("MinMax") @L("Price")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPriceFilter" id="MinPriceFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPriceFilter" id="MaxPriceFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinAmountFilterId">@L("MinMax") @L("Amount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minAmountFilter" id="MinAmountFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxAmountFilter" id="MaxAmountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="StatusFilterId">@L("Status")</label>
                        <select class="form-control" name="StatusFilter" id="StatusFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="1">@L("Enum_OrderItemStatusEnum_1")</option>

                            <option value="2">@L("Enum_OrderItemStatusEnum_2")</option>

                            <option value="3">@L("Enum_OrderItemStatusEnum_3")</option>

                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ProductNameFilterId">(@L("Product")) @L("Name")</label>
                            <input type="text" class="form-control" name="productNameFilter" id="ProductNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="OrderOrderNoFilterId">(@L("Order")) @L("OrderNo")</label>
                            <input type="text" class="form-control" name="orderOrderNoFilter" id="OrderOrderNoFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="OrderItemsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Price")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Status")</th>
                                <th>@L("ProductName")</th>
                                <th>@L("OrderOrderNo")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>