
@using System.Globalization
@using MostIdea.MIMGroup.Web.Areas.App.Models.Common.Modals
@using MostIdea.MIMGroup.Web.Areas.App.Models.TaxRates
@model CreateOrEditTaxRateModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTaxRate")) : L("CreateNewTaxRate")))

<div class="modal-body">
    <div id="TaxRateInformationsTab">
        <form name="TaxRateInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.TaxRate.Id" />
            }

            <div class="form-group">
                <label for="TaxRate_Name">@L("Name")</label>
                <input class="form-control" id="TaxRate_Name" value="@Model.TaxRate.Name" type="text" name="name" required />
            </div>

            <div class="form-group">
                <label for="TaxRate_Rate">@L("Rate")</label>
                <input class="form-control m-input" id="TaxRate_Rate" value="@Model.TaxRate.Rate.ToString(CultureInfo.InvariantCulture)" type="number" name="rate" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")