@using System.Threading.Tasks
@using Abp.AspNetZeroCore.Timing
@using Abp.Configuration.Startup
@using Abp.Timing
@using Abp.Web.Security.AntiForgery
@using MostIdea.MIMGroup.Timing
@using MostIdea.MIMGroup.UiCustomization.Dto
@using MostIdea.MIMGroup.Url
@using MostIdea.MIMGroup.Web.Resources
@using CultureHelper = MostIdea.MIMGroup.Localization.CultureHelper
@using Abp.CachedUniqueKeys
@using Abp.AspNetCore.Mvc.Caching
@using Abp.Configuration
@using MostIdea.MIMGroup.Configuration
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IWebUrlService WebUrlService
@inject ICachedUniqueKeyPerUser CachedUniqueKeyPerUser
@inject IGetScriptsResponsePerUserConfiguration GetScriptsResponsePerUserConfiguration
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    UiCustomizationSettingsDto theme = await GetTheme();
}

<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <meta charset="utf-8" />
    <title>MIMGroup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta content="MIMGroup" name="description" />
    <meta content="MIMGroup" name="keywords">
    <meta content="MIMGroup" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/style.bundle@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true" />
    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true" />
    }
    <link rel="stylesheet" abp-href="/view-resources/Views/Account/_Layout@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
 <body class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable">
    <!-- begin:: Page -->
    <div class="d-flex flex-column flex-root">
        <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
            <!--begin::Aside (Left Side)-->
            <div class="login-aside d-flex flex-column flex-row-auto" style="
                width: 70%;
                background-color: #3A424D; /* Gri arka plan */
                background-image: url('/metronic/assets/media/svg/illustrations/home-services-bg.png');
                background-size: cover;
                background-position: center top; /* Arka plan yukarı taşındı */
            ">
                <!--begin::Aside Content-->
                <div class="d-flex flex-column justify-content-between vh-100 p-5">
                    <!-- Logo -->
                    <div class="text-center">
                        <a href="#" class="mb-10">
                            <vc:account-logo skin="dark" style="width: 150px; height: auto;"></vc:account-logo>
                            <!-- Logonun genişliği artırıldı -->
                        </a>
                    </div>
                    <!-- Footer -->
                    <div class="text-center">
                        <h3 class="font-weight-bolder text-white font-size-h4 font-size-h1-lg">
                            Most Idea Yazılım <br /> B2B Çözümleri
                        </h3>
                    </div>
                </div>
                <!--end::Aside Content-->
            </div>
            <!--end::Aside-->

            <!--begin::Content (Right Side)-->
            <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
                <div class="d-flex flex-column-fluid flex-center">
                    <div class="login-form login-signin">
                        <div class="pb-13 pt-lg-0 pt-5">
                            @if (!(ViewBag.DisableTenantChange ?? false) && MultiTenancyConfig.IsEnabled && !WebUrlService.SupportsTenancyNameInUrl)
                            {
                                    <div class="login__signup-label tenant-change-box">
                                        <vc:tenant-change></vc:tenant-change>
                                    </div>
                            }
                        </div>
                        @RenderBody()
                    </div>
                </div>
                <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
                    <vc:account-languages></vc:account-languages>
                </div>
            </div>
            <!--end::Content-->
        </div>
    </div>
    <!--begin::Base Scripts -->
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.js" asp-append-version="true"></script>
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    @if (GetScriptsResponsePerUserConfiguration.IsEnabled)
    {
            <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(await CachedUniqueKeyPerUser.GetKeyAsync(GetScriptsResponsePerUserCache.CacheName))" type="text/javascript"></script>
    }
    else
    {
            <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    }
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>
    <script src="~@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>
    @WebResourceManager.RenderScripts()
    @await RenderSectionAsync("Scripts", false)
    <script>
        app.supportsTenancyNameInUrl = @(WebUrlService.SupportsTenancyNameInUrl.ToString().ToLower());
        jQuery(document).ready(function () {
            if (window.CurrentPage) {
                CurrentPage.init();
            }
        });
    </script>
</body>

</html>
