@using MostIdea.MIMGroup.Authorization
@using MostIdea.MIMGroup.Web.Areas.App.Models.Orders
@using MostIdea.MIMGroup.Web.Areas.App.Startup
@model OrdersViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Orders;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Orders/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Orders")" description="@L("OrdersHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Orders_Create))
        {
            <button id="CreateNewOrderButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewOrder")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="OrdersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetOrdersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTotalFilterId">@L("MinMax") @L("Total")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTotalFilter" id="MinTotalFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTotalFilter" id="MaxTotalFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTaxFilterId">@L("MinMax") @L("Tax")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTaxFilter" id="MinTaxFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTaxFilter" id="MaxTaxFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinGrandTotalFilterId">@L("MinMax") @L("GrandTotal")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minGrandTotalFilter" id="MinGrandTotalFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxGrandTotalFilter" id="MaxGrandTotalFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="StatusFilterId">@L("Status")</label>
                        <select class="form-control" name="StatusFilter" id="StatusFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="1">@L("Enum_OrderStatusEnum_1")</option>

                            <option value="2">@L("Enum_OrderStatusEnum_2")</option>

                            <option value="3">@L("Enum_OrderStatusEnum_3")</option>

                            <option value="4">@L("Enum_OrderStatusEnum_4")</option>

                            <option value="5">@L("Enum_OrderStatusEnum_5")</option>

                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="OrderNoFilterId">@L("OrderNo")</label>
                            <input type="text" class="form-control" name="orderNoFilter" id="OrderNoFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AddressInformationNameFilterId">(@L("AddressInformation")) @L("Name")</label>
                            <input type="text" class="form-control" name="addressInformationNameFilter" id="AddressInformationNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserNameFilterId">(@L("User")) @L("Name")</label>
                            <input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="HospitalNameFilterId">(@L("Hospital")) @L("Name")</label>
                            <input type="text" class="form-control" name="hospitalNameFilter" id="HospitalNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserName2FilterId">(@L("User")) @L("Name")</label>
                            <input type="text" class="form-control" name="userName2Filter" id="UserName2FilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="WarehouseNameFilterId">(@L("Warehouse")) @L("Name")</label>
                            <input type="text" class="form-control" name="warehouseNameFilter" id="WarehouseNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="OrdersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("OrderNo")</th>
                                <th>@L("Doctor")</th>
                                <th>@L("OrderDate")</th>
                                <th>@L("Status")</th> 
                                <th>@L("OrderDetail")</th> 
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .user-card {
        background: #f9f9f9;
        border-radius: 10px;
        padding: 10px;
    }
</style>