@using MostIdea.MIMGroup.Authorization
@using MostIdea.MIMGroup.Web.Areas.App.Models.ProductPricesForHospitals
@using MostIdea.MIMGroup.Web.Areas.App.Startup
@model ProductPricesForHospitalsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ProductPricesForHospitals;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/ProductPricesForHospitals/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ProductPricesForHospitals")" description="@L("ProductPricesForHospitalsHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_ProductPricesForHospitals_Create))
        {
        <button id="CreateNewProductPricesForHospitalButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProductPricesForHospital")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="ProductPricesForHospitalsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetProductPricesForHospitalsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinStartDateFilterId">@L("StartDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinStartDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxStartDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEndDateFilterId">@L("EndDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinEndDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxEndDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinPriceFilterId">@L("MinMax") @L("Price")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minPriceFilter" id="MinPriceFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxPriceFilter" id="MaxPriceFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ProductNameFilterId">(@L("Product")) @L("Name")</label>
                            <input type="text" class="form-control" name="productNameFilter" id="ProductNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ProductCategoryNameFilterId">(@L("ProductCategory")) @L("Name")</label>
                            <input type="text" class="form-control" name="productCategoryNameFilter" id="ProductCategoryNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ProductPricesForHospitalsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("StartDate")</th>
                                <th>@L("EndDate")</th>
                                <th>@L("Price")</th>
                                <th>@L("ProductName")</th>
                                <th>@L("ProductCategoryName")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>