
@using MostIdea.MIMGroup.Web.Areas.App.Models.Common.Modals
@using MostIdea.MIMGroup.Web.Areas.App.Models.Hospitals
@model HospitalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="HospitalInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Hospital.Name
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("HospitalGroup")) @L("Name") :</h6>
                @Model.HospitalGroupName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")