@using MostIdea.MIMGroup.Authorization
@using MostIdea.MIMGroup.Web.Areas.App.Models.Hospitals
@using MostIdea.MIMGroup.Web.Areas.App.Startup
@model HospitalsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Hospitals;
} 

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Hospitals")" description="@L("HospitalsHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Hospitals_Create))
        {
            <button id="CreateNewHospitalButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewHospital")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="HospitalsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetHospitalsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="HospitalGroupNameFilterId">(@L("HospitalGroup")) @L("Name")</label>
                            <input type="text" class="form-control" name="hospitalGroupNameFilter" id="HospitalGroupNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="HospitalsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("Name")</th>
                            <th>@L("HospitalGroupName")</th>

                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
      
     <script abp-src="/view-resources/Areas/App/Views/Hospitals/Index.js" asp-append-version="true"></script>
 }